@import url(https://fonts.googleapis.com/css?family=Chakra+Petch:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    background-image: url(https://www.xmple.com/wallpaper/checkered-squares-red-green-3840x2160-c2-ff0000-228b22-l-290-a-15-f-2.svg);
}

a {
    color: white;
    text-decoration: none;
}

.main-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.7);
}

.main-page_text {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 30px;
}

.start-btn {
    font-size: 1rem;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    padding: 1rem 3rem;
    color: white;
    border: none;
    border-radius: 3px;
    background-color: green;
    animation-name: button-mover;
    animation-duration: .75s;
    animation-iteration-count: 1000;
    animation-direction: alternate;
    cursor: pointer;
}

@keyframes button-mover {
    0% {
        color: white;
        background-color: green;
        transform: scale(1);
    }

    100% {
        color: white;
        background-color: green;
        transform: scale(1.1);
    }
}

@media screen and (max-width: 520px) {
    html {
      font-size: 12px;
    }
  
    table td {
      width: 35px;
      height: 35px;
    }
    .scores {
      width: 80%;
    }
  }

  .btn {
    padding: 20px 40px;
    margin-top: 2rem;
    background-color: orange;
    cursor: pointer;
  }