@import url(https://fonts.googleapis.com/css?family=Chakra+Petch:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
  font-family: 'Chakra Petch', sans-serif;
}

.title {
  font-size: 2rem;
}

table {
  border-radius: 3px;
}

table td {
  width: 50px;
  height: 50px;
  background-color: rgb(125, 125, 125);
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.7);
  border: 1px solid rgb(85, 83, 83);
  transform: scale(0.95);
  cursor: pointer;
}

table td:active {
  transform: scale(0.89);
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

#green-title {
  color: green;
}

/* MODAL PANEL */
.modal {
  height: 100vh;
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all .3s ease;
}

.modal-open {
  top: 0;
}

.modal-panel {
  background-color: #fff;
  padding: 40px 60px;
  text-align: center;
  border-radius: 8px;
}

.modal-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 18px;
}

.modal-btn {
  padding: 10px 20px;
  border: transparent;
  border-radius: 6px;
  font-family: 'Chakra Petch', sans-serif;
  color: white;
  background-color: green;
  animation-name: button-mover;
  animation-duration: .75s;
  animation-iteration-count: 1000;
  animation-direction: alternate;
}

@keyframes button-mover {
  0% {
    background-color: green;
    transform: scale(1);
  }

  100% {
    background-color: green;
    transform: scale(1.1);
  }
}

.to-home-btn {
  padding: 10px 18px;
  margin-right: 10px;
  border: transparent;
  font-family: 'Chakra Petch', sans-serif;
  border-radius: 6px;
  background-color: rgb(100, 100, 100);
}

.to-home-btn:hover {
  background-color: rgb(80, 80, 80);
}

.time-wrap {
  margin-bottom: .7rem;
  color: black;
}

.scores {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: white;
}

.green-score {
  color: green;
}

.red-score {
  color: red;
}

/*RESPONSIVE DESIGN FOR SMARTPHONES*/
@media screen and (max-width: 1440px) {
  .scores {
    width: 35%;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 12px;
  }

  table td {
    width: 35px;
    height: 35px;
  }
}